@CHARSET "UTF-8";
body {
    margin:0;
    background-image: url('../img/noisy-texture.png');
    background-color: #444;
    
}
#container {
    margin:0;
    padding: 0;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.box {
    float: left;
    cursor: pointer;
}
.box-big {
    float: left;
    height: 622px;
}
.box img {
    -webkit-box-shadow: 0px 0px 10px 4px rgba(51,51,51,0.8);
    -moz-box-shadow: 0px 0px 10px 4px rgba(51,51,51,0.8);
    box-shadow: 0px 0px 10px 4px rgba(51,51,51,0.8);
    cursor: pointer;
}
.caption {
    display:none;
    background-color: rgba(15,15,15, 0.5);
    color: #eee;
    position:absolute;
    top: 0;
    width: 60%;
    height: 78.8%;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: Arial;
    cursor: pointer;
}
#title {
    background-image: url("../img/title.png");
    background-color: transparent;
    width: 500px;
    height: 93px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

@media (max-width: 608px) {
    .box-big img {
        width: 306px;
        height: auto;
    }
    .box-big {
        height: 311px;
    }
    #title {
        background-image: url("../img/title.png");
        background-color: transparent;
        background-size: 260px auto;
        width: 260px;
        height: 48px;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1000;
    }
}
}